<h3>HOME PAGE</h3>
        
<!--<p>{{ projects }}</p>-->

<!-- Dès que l'on souhaite charger des fichiers statics il faut faire cette commande django -->
{% load static %} 

<a href="{% static 'portfolio_app_static/test.pdf' %}">TEST PDF</a>
<br>
<img src="{% static 'portfolio_app_static/image_foret.png' %}">


        
<p>{% for project in projects %}
  <br>
  {{ project }}       
{% endfor %}</p>       
        
{% for project in projects %}       
  <p><b>{{ project.title }}</b></p>
  <p><i>{{ project.description }}</i></p>
  <p>{{ project.image }}</p>       
  <p >{{ project.image.url }}</p>       
 <img src="{{ project.image.url }}">
{% endfor %}